.mainHome{
    width: 90%;
    display: flex;
    flex-wrap:wrap;
    margin: auto;
    background-color: #F6F6F6;
    border-radius: 25px;
    padding: 50px 0 0 50px;
}

.apartmentContainer{
    width: 29%;
    height:340px;
    margin-bottom: 50px;
    margin-right: 50px;
}
.apartmentContainer img{
    width: 100%;
    height:340px;
    object-fit: cover;
    border-radius: 10px;
    z-index: 0;
}
.apartmentContainer h2{
    color: black;
    font-size: 18px;
    text-align: center;
    width: 90%;
    z-index: 1;
    margin: auto;
    margin-top: -80px;
    padding:10px ;
    background-color: #FF6060;
    position: relative;
    border-radius: 10px;
}
@media all and (max-width: 1350px){
    
    .apartmentContainer{
        width: 45%;
        margin-bottom: 35px;
        margin-right: 35px;
    }
}
@media all and (max-width: 850px){
    
    .mainHome{
        background-color: white;
        padding: 0;
    }
    .apartmentContainer{
        width: 100%;
        height: 255px;
        margin-bottom: 20px;
        margin-right: 0;
    }

    .apartmentContainer img{
        height: 255px;
    }
}