header{
width: 90%;
height: 223px;
border-radius: 25px;
margin: 0 auto 40px;
}

header.bannerDefault{
    display: flex;
    justify-content: center;
    background: url("../assets/header-img.jpg");  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}

header.bannerAbout{
    background: url("../assets/banner-img.jpg");  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}

header p{
    font-size: 48px;
    color:white;
    margin: auto;
}
@media all and (max-width: 800px){
    header p {
        font-size: 36px;
    }
}
@media all and (max-width: 575px){
    header{
        padding-left: 15px;
    }
}
@media all and (max-width: 375px){
    header{
        height: 111px;
        border-radius: 10px;
        margin: 0 auto 22px;
    }
    header.bannerAbout{
        height: 223px;
    }
    header p {
        font-size: 24px;
    }
}