nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}

.navLogo{
    width: 210px;
    height: 68px;
}

.Navigation{
    width: 20%;
    display: flex;
    justify-content: flex-end;
}

.Navigation a{
    text-decoration: none;
    color: #FF6060;
    font-size: 24px;
}
.Navigation a:last-of-type{
    padding-left: 54px;
}
.Navigation a.home,.Navigation a.about,.Navigation a:hover{
    text-decoration: underline;
}