nav{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}

.navLogo{
    width: 210px;
    height: 68px;
}

.Navigation{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Navigation a{
    text-decoration: none;
    color: #FF6060;
    font-size: 24px;
}
.Navigation a:last-of-type{
    padding-left: 54px;
}
.Navigation a.home,.Navigation a.about,.Navigation a:hover{
    text-decoration: underline;
}
@media all and (max-width: 550px){
    .Navigation a:last-of-type{
        padding-left: 20px;
    }
    .navLogo{
        height: 47px;
        width: 145px;
    }
    .Navigation a {
        font-size: 18px;
    }
}
@media all and (max-width: 375px){
    nav{
        margin:30px auto;
    }

    .Navigation a{
        font-size: 12px;
        text-transform: uppercase;
        
    }
}