.Slider{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.sliderImgContainer ,.soloSlider{
    width: 95%;
    height: 415px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.Slider img ,.soloSlider img{
    width: 90%;
    height: auto;
    object-fit: cover;
    border-radius: 25px;
    z-index: 0;
}

.Slider button , .sliderLoc{
    background-color: transparent;
    z-index: 1;  
    position: relative;     
}
.btnPrev{
    left: 70px;
}

.btnNext{
    right: 70px;
}

.iconSlider{
    width :47px;
    height : 80px;
    color: white;
}

.sliderLoc {
    width: 100%;
    text-align: center;
    font-size: 18px;
    color: white;
    bottom: 35px;
}
@media all and (max-width: 620px){
    .sliderImgContainer{
        height: 255px;
    }
    .iconSlider{
        width : 12px;
        height : 20px;
    }
    .btnPrev{
        left: 25px;
    }
    .btnNext{
        right: 25px;
    }
    .sliderLoc {
        display: none;
    }
}